.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build
.idea
*.iml
rebar3.crashdump
*~
config/sys.config
config/vm.args
cert
rebar.config.gen
apps/review_rabbit/src/review_rabbit.app.src.gen
.bash_history
.cache
.git-credentials
.gitconfig
/apps/review_rabbit/priv/static/*
/priv/static/*
GIT_COMMIT_IDS
package_commit_id